@import "settings";

@import  "yuireset";

@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/transform";

/* Google Button */

.hideable {
    opacity: 1;
    @include transition-property(opacity);
    @include transition-duration(.25s);
    @include transition-timing-function(ease-in-out);

    &.hide {
        opacity: 0;
    }
}

#customBtn {
    margin-top: 50px;
    display: inline-block;
    background: $red;
    color: white;
    width: 300px;
    @include border-radius(5px);

    a {
        text-decoration: none;
        color: #fff;
        display: block;
    }

    &:hover {
      background: #e74b37;
      cursor: hand;
    }

    span.label {
      font-weight: bold;
    }
    span.icon {
      background: url('../images/g.png') transparent 10px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 40px;
      padding-right: 40px;
    }
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    background: $grey;
    color: #bbb;
    height: 100%;
}

img {
    max-width: 100%;
}

a {
    color: $blue;
    text-decoration: none;
}

h1, h2, h3, h4, p, ul, li, input, textarea, div, a {
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.blue {
    color: $blue;
}

.height100 {
    height: 100%;
}

.small {
    font-size: 11px;
}

#selectors {
    margin-top: 50px;
    position: relative;

    @include mobile() {
        margin-top: 0;
    }
}

.selector-container {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    background: $grey;
    @include border-radius(5px);
    width: 400px;
    padding: 5px;
    @include transition-property(left);
    @include transition-duration(.25s);
    @include transition-timing-function(ease-in-out);

    &.info {
        background: transparent;
        top: 100%;
    }

    &.toleft {
        left: -50%;
    }

    &.toright {
        left: 150%;
    }

    select {
        font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 24px;
        padding: 20px;
        background: $grey;
        border: 0;
        color: white;
        display: block;
        width: 100%;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
    }

    @include mobile() {
        margin-top: 0;
        margin-left: -125px;
        background: $grey;
        @include border-radius(5px);
        width: 250px;

        select {
            font-size: 16px;
        }
    }
}

.author {
    padding: 20px;
    clear: both;
    display: block;
    float: none;
    text-align: left;
    width: 440px;
    margin: 0 auto 20px;
    background: rgba(0, 0, 0, 0.1);

    a {
        color: #fff;
    }

    @include mobile() {
        width: auto;
        font-size: 14px;

        h3 {
            font-size: 18px;
        }
    }
}

#home-info {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 700px;
    margin-left: -350px;
    text-align: center;
    @include transition-property(bottom);
    @include transition-duration(.5s);
    @include transition-timing-function(ease-in-out);

    &.down {
        bottom: -400px;
    }

    h3 {
        color: $blue;
        font-size: 20px;
        margin-bottom: 0px;
    }

    #footer {
        display: block;
        clear: both;
        font-size: 10px;
    }

    img {
        margin-right: 20px;
        float: left;
        max-width: 70px;
    }

    @include minidesktop() {
        width: 500px;
        margin-left: -250px;
    }

    @include mobile() {
        width: 100%;
        margin-left: 0;
        left: 0;
        bottom: 5px;

        img {
            max-width: 40px;
            float: right;
        }
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #222626;
    padding: 0 50px;
    height: 60px;
    z-index: 100;

    @include mobile() {
        padding: 0;
    }
}

.header-text {
    font-size: 20px;
    color: #fff;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: 'Bubbler One', Arial, sans-serif;
    position: absolute;
    left: -200px;
    @include transition-property(left);
    @include transition-duration(.25s);
    @include transition-timing-function(ease-in-out);

    .blue {
        padding-left: 40px;
    }

    &.show {
        left: 50px;
        @include mobile {
            left: 10px;
        }
    }

    img {
        @include transition-duration(.5s);
    }

    #gotohome {
        color: #fff;
        &:hover {
            img {
                @include rotate(180deg);
            }
        }
    }
}

.authorize-button {
    position: absolute;
    top: 0;
    right: 50px;
    display: none;
}

#home {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    z-index: 200;
    @include transition-property(top);
    @include transition-duration(1s);
    @include transition-timing-function(ease-in-out);

    &.down {
        top: 100%;
    }
}

#home-inner {
    background: #222626;
    height: 100%;
    margin-top: 60px;
    text-align: center;

    h2 {
        font-size: 128px;
        text-transform: uppercase;
        font-family: 'Bubbler One', Arial, sans-serif;
        color: white;

        @include minidesktop() {
            font-size: 96px;
        }

        @include mobile() {
            font-size: 36px;
        }
    }
}

#logo {
    max-height: 90px;
    @include minidesktop() {
        max-height: 65px;
    }
    @include mobile() {
        max-height: 25px;
    }
}

#minilogo {
    max-height: 30px;
    position: absolute;
    top: 14px;
}

#subtitle {
    font-size: 28px;
    @include minidesktop() {
        font-size: 20px;
    }
    @include mobile() {
        font-size: 14px;
    }
}

.content {
    height: 100%;
    padding: 0 50px;
    @include mobile() {
        padding: 0 10px;
        overflow-y: auto;
    }
}

.half {
    height: 100%;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
}

#world {
    padding-top: 100px;
    @include minidesktop() {
        padding-top: 0;
    }
}

#country {
    font-size: 48px;
    text-align: center;
    line-height: 100px;
    color: $darkgrey;
    text-transform: uppercase;
    height: 100px;
    overflow: hidden;

    @include minidesktop() {
        font-size: 20px;
        height: 40px;
        line-height: 40px;
    }
}

.data {
    margin-top: 100px;

    h2 {
        font-size: 24px;
        text-align: center;
        @include minidesktop() {
            width: 50%;
        }
        @include mobile() {
            width: 100%;
        }
    }
}

#visits-count {
    font-size: 128px;
    text-align: center;
    font-family: 'Bubbler One', Arial, sans-serif;
    color: #fff;

    @include minidesktop() {
        width: 50%;
    }

    @include mobile() {
        width: 100%;
    }
}

.panels {
    height: 100%;
}

.panel {
    width: 50%;
    height: 25%;
    float: left;
    margin-bottom: 20px;
    overflow: hidden;
    overflow-y: auto;

    h3 {
        background: $darkgrey;
        margin: 0 5px;
        padding: 5px 10px;
    }

    ul {
        margin: 0 5px;

        li {
            overflow: hidden;
            height: 30px;
            line-height: 30px;
            font-size: 13px;
            border-bottom: 1px solid $lightgrey;
            background: $grey;
            @include transition-property(background-color);
            @include transition-duration(.8s);
            @include transition-timing-function(linear);

            &.change {
                @include transition-property(background-color);
                @include transition-duration(.3s);
                @include transition-timing-function(linear);
                background-color: $red;

                &.down {
                    background-color: $darkgrey;
                }
            }

            p {
                margin: 0 10px;
                display: block;
            }
        }
    }

    .name, .value, .percent{
        display: inline-block;
        overflow: hidden;
    }

    .name{
        width: 45%;
    }

    .value{
        width: 25%;
        text-align: right;
    }

    .percent{
        width: 25%;
        text-align: right;
    }

    @include mobile() {
        float: none;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
}

#about-link {
    position: absolute;
    right: -50px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px;
    background: $lightgrey;
    line-height: 40px;
    height: 40px;
    padding: 0 15px;
    color: $blue;
    @include transition-property(right);
    @include transition-duration(.25s);
    @include transition-timing-function(ease-in-out);
    opacity: 0.8;

    &.show {
        right: 100px;
    }

    &:hover {
        opacity: 1;
    }

    @include mobile {
        right: -200px;
        text-indent: -9999px;
        width: 40px;
        background: $blue;
        padding: 0;
        &.show {
            right: 0;
        }
    }
}

.page {
    background: #353D3F;
    position: absolute;
    top: 0%;
    right: -50%;
    width: 50%;
    z-index: 50;
    overflow-y: auto;
    @include transition-property(right);
    @include transition-duration(.5s);
    @include transition-timing-function(ease-in-out);

    &.show {
        right: 0;
    }

    @include mobile() {
        right: -100%;
        width: 100%;
    }
}

.question {
    margin: 0 20px 20px;

    h4 {
        color: $blue;
        font-size: 24px;
    }
}

#about .author {
    margin: 80px 20px 20px;
    min-height: 100px;
    width: auto;
    img {
        max-width: 100px;
        float: left;
        margin: 0 20px 10px 0;
    }
}

#social {
    margin-top: 20px;
    .social {
        text-align: left;
        display: inline-block;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
@include minidesktop() {
    canvas {
        max-height: 200px;
        max-width: 200px;
        display: block;
        margin: auto;
    }

    .half.left {
        width: 100%;
    }

    .half.right {
        height: auto;
        position: absolute;
        right: 40px;
        top: 80px;
    }
}

@include mobile() {

    canvas {
        max-height: none;
        max-width: none;
    }

    .half.right {
        display: none;
    }
}