/*global define */
define([], function () {
    'use strict';

    var apiData = {
        clientId: '<%- clientId %>',
        apiKey: '<%- apiKey %>'
    };

    return {
        get: function() {
            return apiData;
        }
    };
});
